#copy this file and fill in your own values
#never commit the .env file 

MONGO_URI=mongodb://admin:your_secret_password@localhost:27018/catalog_service_db?authSource=admin
PORT=6002
NODE_ENV=development
SERVICE_NAME=catalog-service
ENABLE_REQUEST_LOGGING=true
ENABLE_CREATE_EVENT